.breadcrumb {
  position: relative;
  z-index: 5;
  margin-top: 6rem;
  // .breadcrumb__list-wrap

  &__list-wrap {
  }

  // .breadcrumb__list

  &__list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @include small-tablet {
      gap: 1.6rem;
      width: 75rem;
      margin: 0 -2rem;
      padding: 0 2rem;
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
  }

  // .breadcrumb__link

  &__link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    &_green {
      color: $green;
    }
    &:not(:last-child)::after {
      display: inline-block;
      content: '';
      width: 0.6rem;
      height: 0.6rem;
      background-color: $black;
      border-radius: 50%;
    }

    @include small-tablet {
      gap: 1.6rem;
      font-size: 3rem;
      white-space: nowrap;
      &:not(:last-child)::after {
      }
    }
  }
}
