.experts {
  // .experts__inner

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include small-tablet {
      gap: 4.8rem;
    }
  }

  // .experts__title-box

  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .experts__title

  &__title {
  }

  // .experts__swiper-navigation

  &__swiper-navigation {
    &.desktop {
      display: flex;
    }
    &.mobile {
      display: none;
    }
  }

  // .experts__swiper-left-btn

  &__swiper-left-btn {
  }

  // .experts__swiper-right-btn

  &__swiper-right-btn {
  }

  // .experts__swiper-box

  &__swiper-box {
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
    }
  }

  // .experts__swiper

  &__swiper {
    width: 100%;
  }

  // .experts__swiper-wrapper

  &__swiper-wrapper {
  }

  // .experts__swiper-slide

  &__swiper-slide {
    height: auto !important;
  }

  // .experts__slide-inner

  &__slide-inner {
    padding: 4rem;
    border-radius: 4rem;
    background-color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    @include small-tablet {
      padding: 3.2rem;
      gap: 4rem;
      border-radius: 4rem;
    }
  }

  // .experts__slide-header-box

  &__slide-header-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include small-tablet {
      gap: 3.2rem;
    }
  }

  // .experts__slide-header-photo-box

  &__slide-header-photo-box {
    border-radius: 10rem;
    width: 15.8rem;
    height: 12rem;
    box-shadow: 0.3rem 0.3rem 0 0 $black;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include small-tablet {
      border-radius: 200rem;
      width: 28rem;
      height: 20.8rem;
      box-shadow: 0.4rem 0.6rem 0 0 $black;
    }
  }

  // .experts__slide-header-info-box

  &__slide-header-info-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @include small-tablet {
      gap: 1.6rem;
    }
  }

  // .experts__slide-header-position

  &__slide-header-position {
    color: $green;
  }

  // .experts__slide-header-name

  &__slide-header-name {
  }

  // .experts__slide-exp-box

  &__slide-exp-box {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    @include small-tablet {
      gap: 1.6rem;
    }
  }

  // .experts__slide-exp

  &__slide-exp {
  }

  // .experts__slide-exp-dot

  &__slide-exp-dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: $black;
    flex-shrink: 0;
    @include small-tablet {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  // .experts__slide-cost-wrapper

  &__slide-cost-wrapper {
    padding: 3.2rem 0;
    border-top: 0.2rem solid $gray;
    border-bottom: 0.2rem solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @include small-tablet {
      padding: 4rem 0;
      border-top: 0.4rem solid $gray;
      border-bottom: 0.4rem solid $gray;
    }
  }

  // .experts__slide-cost-box

  &__slide-cost-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @include small-tablet {
    }
  }

  // .experts__slide-cost-title

  &__slide-cost-title {
  }

  // .experts__slide-cost-num

  &__slide-cost-num {
  }

  // .experts__slide-category-box

  &__slide-category-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1.6rem;
    color: $white;
    background-color: $blue;
    border-radius: 1.6rem;
    @include small-tablet {
      padding: 0.8rem 2.4rem;
      gap: 1.6rem;
    }
  }

  // .experts__slide-category

  &__slide-category {
    @include small-tablet {
      font-size: 2.4rem;
    }
  }

  // .experts__slide-category-dot

  &__slide-category-dot {
    width: 0.6rem;
    height: 0.6rem;
    background-color: $white;
    border-radius: 50%;
    flex-shrink: 0;
    @include small-tablet {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  // .experts__slide-query-box

  &__slide-query-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex-grow: 1;
    @include small-tablet {
      gap: 3.2rem;
    }
  }

  // .experts__slide-query-title

  &__slide-query-title {
  }

  // .experts__slide-query-list

  &__slide-query-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    @include small-tablet {
      gap: 1.6rem;
    }
  }

  // .experts__slide-query-item

  &__slide-query-item {
    white-space: nowrap;
    padding: 0.8rem 1.6rem;
    background-color: $light-gray;
    border-radius: 100rem;
    @include small-tablet {
      border-radius: 200rem;
      padding: 0.8rem 1.6rem;
    }
  }

  // .experts__slide-btn-box

  &__slide-btn-box {
    display: flex;
    justify-content: space-between;
    @include small-tablet {
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  // .experts__slide-btn

  &__slide-btn,
  &__slide-link {
    width: fit-content;
  }
}
