body::before {
  content: '';
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease 0s;
  -webkit-backdrop-filter: blur(52px);
  backdrop-filter: blur(52px);
  background: rgba(218, 218, 218, 0.3);
}
.popup-show body::before {
  opacity: 1;
}
.popup_show {
  z-index: 310 !important;
  visibility: visible !important;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

// --------------------------------------------------------------------------

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3.2rem;
  visibility: hidden;
  transition: visibility 0.8s ease 0s;
  z-index: 300;
  ._loaded & {
    display: block;
  }
  @include small-tablet {
    padding: 2rem;
  }

  // .popup__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-height: 100%;
    width: 100%;
  }

  // .popup__content

  &__content {
    width: 100%;
    max-width: fit-content;
    border-radius: 4rem;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
    position: relative;
    .lock & {
      visibility: visible;
    }
  }

  // .popup__body

  &__body {
    display: flex;
    // background-color: $white;
    padding: 6rem;
    min-width: 76.9rem;
  }

  // .popup__body-close-btn

  &__body-close-btn {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    top: 3.4rem;
    right: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    & svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
    }

    @include small-tablet {
      top: 4rem;
      right: 4rem;
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &--success {
    & .popup__wrapper {
    }
    & .popup__content {
    }
    & .popup__body {
      display: flex;
      // background-color: $white;
      box-shadow: 0.4rem 0.4rem 0 0 $black;
      padding: 6.4rem;
      width: 75.7rem;
      min-width: unset;
      border-radius: 4rem;
      background: $white url('./assets/images/popup-bg.svg') no-repeat top/ contain;
      @include small-tablet {
        width: 100%;
        box-shadow: 0.6rem 0.8rem 0 0 $black;
        padding: 12.8rem 3.2rem 3.2rem;
      }
    }
    & .popup__body-close-btn {
    }
    & .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      @include small-tablet {
        gap: 4.8rem;
      }
    }
    & .popup__body-content-box-title-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include small-tablet {
        gap: 3.2rem;
      }
    }
    & .popup__body-content-box-title {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background: url(./assets/images/icons/heart.svg) no-repeat top/cover;
        width: 5.8rem;
        height: 5.3rem;
        bottom: 2.2rem;
        right: 8rem;
        @include small-tablet {
          width: 7.2rem;
          height: 6.7rem;
        }
      }
    }
    & .popup__body-content-box-desk {
    }
    & .popup__btn {
      width: fit-content;
    }
  }

  &--feedback {
    & .popup__wrapper {
    }
    & .popup__content {
    }
    & .popup__body {
      display: flex;
      // background-color: $white;
      box-shadow: 0.4rem 0.4rem 0 0 $black;
      padding: 6.4rem;
      width: 75.7rem;
      min-width: unset;
      border-radius: 4rem;
      background: $white url('./assets/images/popup-bg.svg') no-repeat top/ contain;
      @include small-tablet {
        width: 100%;
        box-shadow: 0.6rem 0.8rem 0 0 $black;
        padding: 12.8rem 3.2rem 3.2rem;
      }
    }
    & .popup__body-close-btn {
    }
    & .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      @include small-tablet {
        gap: 4.8rem;
      }
    }
    & .popup__body-content-box-title-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include small-tablet {
        gap: 3.2rem;
      }
    }
    & .popup__body-content-box-title {
    }
    & .popup__body-content-box-desc {
    }
    & .popup__form {
    }
    & .popup__form-input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    & .popup__form-input-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem;
      @include small-tablet {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
    & .popup__label {
    }
    & .popup__form-input {
    }
    & .popup__btn-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include small-tablet {
        gap: 3.2rem;
      }
    }
    & .popup__agreement-text {
      width: 55.2rem;
      color: $gray;
      @include small-tablet {
        width: 100%;
      }
    }
    & .popup__btn {
      width: fit-content;
    }
  }

  &--feedback-test {
    .popup__wrapper {
    }
    .popup__content {
    }
    .popup__body {
      display: flex;
      padding: 6.4rem;
      width: 105.6rem;
      min-width: unset;
      border-radius: 4rem;
      background: $white;
      @include small-tablet {
        width: 100%;
        padding: 4.8rem 3.2rem;
      }
    }
    .popup__body-close-btn {
    }
    .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      width: 100%;
      @include small-tablet {
        gap: 4.8rem;
      }
    }
    .popup__body-content-box-title-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include small-tablet {
        gap: 2rem;
      }
    }
    .popup__body-content-box-title {
    }
    .popup__body-content-box-desc {
    }
    .popup__form {
    }
    .popup__form-input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      @include small-tablet {
        gap: 4.8rem;
      }
    }
    .popup__form-input-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem 2.4rem;
      @include small-tablet {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
    .popup__label {
      position: relative;
      &--long {
        grid-column: span 2;
        & textarea {
          resize: none;
          height: 14rem;
          @include small-tablet {
            height: 35.6rem;
          }
        }
      }
    }
    .popup__form-input {
    }
    .popup__checkbox {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      opacity: 0;
      &:checked {
        & + .popup__checkbox-text {
          color: $green;
          & .popup__checkbox-text-square {
            border: 0.2rem solid $green;
            @include small-tablet {
              border: 0.4rem solid $green;
            }
            &::after {
              scale: 1;
              background-color: $green;
            }
          }
        }
      }
    }
    .popup__checkbox-text {
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      color: border 0.3s;
      cursor: pointer;
      pointer-events: none;
    }
    .popup__checkbox-text-square {
      width: 2.2rem;
      height: 2.2rem;
      display: block;
      border: 0.2rem solid $gray;
      border-radius: 0.2rem;
      transition: border 0.3s;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        position: absolute;
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        display: block;
        // background-color: $green;
        border-radius: 0.2rem;
        scale: 0;
        transition: scale 0.3s, background-color 0.3s;
        background-color: transparent;
        @include small-tablet {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 0.4rem;
        }
      }

      @include small-tablet {
        border-radius: 0.4rem;
        width: 4.8rem;
        height: 4.8rem;
        border: 0.4rem solid $gray;
      }
    }
    .popup__btn-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
    .popup__agreement-text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      color: $gray;
      width: 55.2rem;

      @include small-tablet {
        font-size: 2.4rem;
        width: 100%;
      }
    }
    .popup__btn {
      width: fit-content;
    }
  }

  &--help {
    .popup__wrapper {
    }
    .popup__content {
    }
    .popup__body {
      display: flex;
      background-color: $white;
      box-shadow: 0.4rem 0.4rem 0 0 $black;
      padding: 0;
      width: 125.1rem;
      min-width: unset;
      border-radius: 4rem;
      overflow: hidden;
      @include small-tablet {
        width: 100%;
        box-shadow: 0.6rem 0.8rem 0 0 $black;
      }
    }
    .popup__body-close-btn {
    }
    .popup__body-content-box {
      padding: 6.4rem 6.4rem 6.4rem 51rem;
      position: relative;
      @include small-tablet {
        padding: 40rem 3.2rem 3.2rem 3.2rem;
      }
    }
    .popup__body-content-img-box {
      position: absolute;
      width: 65.8rem;
      height: 65.8rem;
      border-radius: 50%;
      overflow: hidden;
      left: -20.8rem;
      top: -3.3rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include small-tablet {
        width: 62.4rem;
        height: 62.4rem;
        left: -4rem;
        top: -24.4rem;
      }
    }
    .popup__body-info-box {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      @include small-tablet {
        gap: 4.8rem;
      }
    }
    .popup__body-content-box-title-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include small-tablet {
        gap: 3.2rem;
      }
    }
    .popup__body-content-box-title {
    }
    .popup__body-content-box-desc {
      & a {
        padding: 0.8rem 1.6rem;
        background-color: $green;
        display: inline-block;
        color: $white;
        border-radius: 100rem;
        @include small-tablet {
          padding: 1.2rem 2.4rem;
          border-radius: 200rem;
        }
      }
    }
    .popup__form {
    }
    .popup__form-input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      @include small-tablet {
        gap: 4.8rem;
      }
    }
    .popup__form-input-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem;
      @include small-tablet {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
    .popup__label {
    }
    .popup__form-input {
    }
    .popup__btn-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      @include small-tablet {
        gap: 3.2rem;
      }
    }
    .popup__agreement-text {
      width: 55.2rem;
      color: $gray;
      @include small-tablet {
        width: 100%;
      }
    }
    .popup__btn {
      width: fit-content;
    }
  }

  &--cost {
    .popup__wrapper {
    }
    .popup__content {
    }
    .popup__body {
      display: flex;
      background-color: $white;
      box-shadow: 0.4rem 0.4rem 0 0 $black;
      padding: 6.4rem;
      width: 68.6rem;
      min-width: unset;
      border-radius: 4rem;
      overflow: hidden;
      @include small-tablet {
        width: 100%;
        box-shadow: 0.6rem 0.8rem 0 0 $black;
      }
    }
    .popup__body-close-btn {
    }
    .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
    .popup__body-content-box-title-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
    .popup__body-content-box-title {
    }

    .popup__body-content-box-desc {
    }

    .popup__form {
    }
  }

  &--help-need {
    @include small-tablet {
      padding: 1rem;
    }
    .popup__wrapper {
    }
    .popup__content {
    }
    .popup__body {
      display: flex;
      background-color: $white;
      box-shadow: 0.4rem 0.4rem 0 0 $black;
      padding: 6.4rem;
      width: 132.2rem;
      min-width: unset;
      border-radius: 4rem;
      overflow: hidden;
      @include small-tablet {
        width: 100%;
        box-shadow: 0.6rem 0.8rem 0 0 $black;
        padding: 12rem 2rem 4rem;
      }
    }
    .popup__body-close-btn {
    }
    .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    .popup__body-content-box-title-box {
    }
    .popup__body-content-box-title {
    }
    .popup__form {
    }
  }

  &--important {
    .popup__wrapper {
    }
    .popup__content {
    }
    .popup__body {
      display: flex;
      background-color: $white;
      box-shadow: 0.4rem 0.4rem 0 0 $black;
      padding: 6.4rem;
      width: 114rem;
      min-width: unset;
      border-radius: 4rem;
      @include small-tablet {
        width: 100%;
        box-shadow: 0.6rem 0.8rem 0 0 $black;
        padding: 4rem;
      }
    }
    .popup__body-close-btn {
    }
    .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      width: 100%;
    }
    .popup__body-content-box-title-box {
    }
    .popup__body-content-box-title {
    }
    .popup__form {
      & .important__gender {
        &--whatever {
          @include small-tablet {
            width: 20.6rem;
          }
        }
        &--female {
          @include small-tablet {
            width: 20rem;
          }
        }
        &--male {
          @include small-tablet {
            width: 20rem;
          }
        }
        &.isActive {
          &.important__gender--whatever ~ .important__gender-animation {
            @include small-tablet {
              width: 20rem;
            }
          }

          &.important__gender--female ~ .important__gender-animation {
            @include small-tablet {
              left: 20.6rem;
              width: 20rem;
            }
          }
          &.important__gender--male ~ .important__gender-animation {
            @include small-tablet {
              width: 20rem;
              left: 40.6rem;
            }
          }
        }
        @include small-tablet {
          padding: 2.4rem 3.2rem;
          min-height: 9rem;
        }
      }

      .important__gender__gender-animation {
        @include small-tablet {
          width: 20.6rem;
          border-radius: 2.4rem;
          top: -0.4rem;
          bottom: -0.4rem;
          left: -0.4rem;
        }
      }
    }
  }
}
