// .input-group {
//     position: relative;
//     width: 100%;
//     display: block;
//   }
  
//   .input-group input,
//   .input-group textarea {
//     transition: color 0.3s;
//     width: 100%;
//     border: 0.1rem solid $gray;
//     padding: 1.6rem 2.4rem;
//     transition: border 0.3s;
//     & + .placeholder {
//       z-index: 100;
//       position: absolute;
//       left: 2.4rem;
//       cursor: text;
//       color: $gray-text;
//       & span {
//         color: #f64646;
//       }
//       @include small-tablet {
//         font-size: 3.2rem;
//         left: 4rem;
//       }
//     }
  
//     &.phone-mask:hover {
//       & + span {
//         display: none;
//       }
//     }
  
//     &::placeholder {
//       color: $gray-text;
//       opacity: 1;
//     }
  
//     color: $black;
  
//     @include small-tablet {
//       padding: 3.2rem 4rem;
//       font-size: 3.2rem;
//     }
//   }
  
//   .input-group textarea {
//     resize: none;
//     height: 14rem;
//     @include small-tablet {
//       height: 28rem;
//     }
//     &::-webkit-scrollbar,
//     &::-webkit-scrollbar-track,
//     &::-webkit-scrollbar-thumb {
//       display: none;
//     }
//   }
  
//   ._form-error input,
//   ._form-error textarea {
//     border: 0.1rem solid #a4001e;
//   }
  
//   .error-span {
//     position: absolute;
//     bottom: -1.8rem;
//     left: 0;
//     color: #a4001e;
//     font-family: 'OpenSans';
//     font-weight: 400;
//     font-size: 1.4rem;
//     visibility: hidden;
//     opacity: 0;
//     transition: opacity 0.3s, visibility 0.3s;
  
//     &.active {
//       visibility: visible;
//       opacity: 1;
//       line-height: normal;
//     }
  
//     @include small-tablet {
//       font-size: 2.4rem;
//       bottom: -3.2rem;
//     }
//   }
  
//   .form__input-wrapper {
//     display: flex;
//     align-items: center;
//   }
  
//   .form-files-items {
//     display: flex;
//     flex-direction: column;
//    align-items: flex-end;
//     gap: 1.2rem;
//   }
  
//   .form-files-item {
//     display: flex;
//     align-items: center;
//     gap: 1.2rem;
//     text-align: right;
//   }
  
//   .removeBtn {
//     width: 2.4rem;
//     height: 2.4rem;
//     flex-shrink: 0;
//     & svg {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
  
//   .label-input-file {
//     position: relative;
//     cursor: pointer;
//     & input {
//       position: absolute;
//       z-index: -1;
//       inset: 0;
//       opacity: 0;
//     }
//   }
//   .input-file {
//   }
//   .label-input-file-text-wrapper {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//   }
//   .label-input-file-svg-box {
//     width: 4.8rem;
//     height: 4.8rem;
//     & svg {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   .label-input-file-text-box {
//     display: flex;
//     flex-direction: column;
//     gap: 0.4rem;
//   }
//   .label-input-file-text-title {
//   }
  
//   .label-input-file-text-type {
//     font-family: 'Roboto';
//     font-weight: 300;
//     font-size: 1.4rem;
//     line-height: 140%;
//     letter-spacing: 0.16em;
//   }
  
//   .form-files-items {
//   }
  