.input-group {
  position: relative;
  width: 100%;
  display: block;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 2rem 3.2rem;
  transition: color 0.5s, border 0.5s;
  border-radius: 1.6rem;
  font-family: 'Geometria';
  font-weight: 500;
  font-size: 2rem;
  line-height: 130%;
  &::placeholder {
    opacity: 1;
    transition: color 0.5s;
  }
  color: $black;
  @include small-tablet {
    padding: 3.2rem 4.8rem;
    font-size: 2.8rem;
    border-radius: 2.4rem;
  }

  &._input-black {
    border: 0.2rem solid $gray;
    &::placeholder {
      color: $gray;
    }

    &:focus{
      color: $black;
      border: 0.2rem solid $black;
      &::placeholder {
        opacity: 1;
        color: $black;
      }
    }
    
  }
  &._input-white {
    border: 0.2rem solid $white;
    color: $white;
    &::placeholder {
      color: $white;
    }

    &:focus {
      color: $white;
      border: 0.2rem solid $white;
      &::placeholder {
        opacity: 1;
        color: $white;
      }
    }
  }
}

._form-error input,
._form-error textarea {
  color: #e91d1d!important;
}

.error-span {
  position: absolute;
  bottom: -1.8rem;
  left: 0;
  color: #e91d1d;
  font-family: 'Geometria';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
    line-height: normal;
  }

  @include small-tablet {
    font-size: 2.4rem;
    bottom: -3.2rem;
  }
}
