.tl1 {
  font-family: 'Muller';
  font-weight: 700;
  font-size: 8rem;
  line-height: 110%;
  @include small-tablet {
    font-size: 7.6rem;
  }
}
.tl2 {
  font-family: 'Muller';
  font-weight: 500;
  font-size: 5.4rem;
  line-height: 110%;
  @include small-tablet {
    font-size: 6.8rem;
  }
}
.tl3 {
  font-family: 'Muller';
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 130%;
  @include small-tablet {
    font-size: 4.4rem;
  }
}
.tl4 {
  font-family: 'Geometria';
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 130%;
  @include small-tablet {
    font-size: 3.6rem;
  }
}

// --------------------------------------------------------------------------
.txt20 {
  font-family: 'Geometria';
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
  @include small-tablet {
    font-size: 3.2rem;
  }
}
.txt16 {
  font-family: 'Geometria';
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 400;
  &_bold {
    font-weight: 700;
  }
  &_medium {
    font-weight: 500;
  }
  &_caps {
    font-weight: 500;
    text-transform: uppercase;
  }
  @include small-tablet {
    font-size: 2.8rem;
  }
}
