// .tl1 {
//   font-family: 'Actay';
//   font-weight: 400;
//   font-size: 6rem;
//    @include small-tablet {
//     font-size: 6.8rem;
//   }
// }
// .tl2 {
//   font-family: 'Actay';
//   font-weight: 400;
//   font-size: 5rem;
//    @include small-tablet {
//     font-size: 6rem;
//   }
// }
// .tl3 {
//   font-family: 'Actay';
//   font-weight: 400;
//   font-size: 4rem;
//    @include small-tablet {
//     font-size: 4.8rem;
//   }
// }
// .tl4 {
//   font-family: 'OpenSans';
//   font-weight: 600;
//   font-size: 2rem;
//    @include small-tablet {
//     font-size: 3.6rem;
//   }
// }

// // --------------------------------------------------------------------------

// .txt20 {
//   font-family: 'OpenSans';
//   font-weight: 400;
//   font-size: 2rem;
//   @include small-tablet {
//   }
// }
// .txt18 {
//   font-family: 'OpenSans';
//   font-size: 1.8rem;
//   font-weight: 400;
//   &_bold{
//     font-weight: 600;
//   }
//   @include small-tablet {
//   }
// }
// .txt16 {
//   font-family: 'OpenSans';
//   font-weight: 400;
//   font-size: 1.6rem;
//   @include small-tablet {
//   }
// }
