// typography
@import './typo';
@import './buttons';
@import './form';
@import './accordion.scss';




.ui-social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    flex-shrink: 0;
    width: fit-content;
    @include small-tablet{
        gap: 3rem;
    }
    &-icon{
        width: 4rem;
        height: 4rem;
        display: flex;
        @include small-tablet{
            width: 7rem;
            height: 7rem;
        }
        & svg{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: translate(0, 0) rotate(0) !important;
            
        }
    }
}
