<section class="activites">
  <div class="activites__container container">
    <div class="activites__head">
      <div class="activites__title tl1">Мероприятия</div>
      <div class="activites__swiper-navigation swiper-navigation desktop">
        <div class="activites__swiper-left-btn swiper-left-btn swiper-btn">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.29216 7.29289C-0.0983638 7.68342 -0.0983639 8.31658 0.29216 8.70711L6.65612 15.0711C7.04665 15.4616 7.67981 15.4616 8.07033 15.0711C8.46086 14.6805 8.46086 14.0474 8.07033 13.6569L2.41348 8L8.07034 2.34315C8.46086 1.95262 8.46086 1.31946 8.07034 0.928931C7.67981 0.538407 7.04665 0.538407 6.65612 0.928931L0.29216 7.29289ZM16.9993 7L0.999268 7L0.999267 9L16.9993 9L16.9993 7Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="activites__swiper-right-btn swiper-right-btn swiper-btn">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9L16 9V7L0 7L0 9Z"
              fill="white"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="activites__slider">
      <div class="activites__swiper swiper">
        <div class="swiper-wrapper">
          <div class="activites__swiper-slide swiper-slide">
            <div class="activites__slide-date txt16">29.04.2024</div>
            <div class="activites__slide-img">
              <img src="./assets/images/activites-slide-img-1.webp" alt="" />
            </div>
            <div class="activites__slide-descr">
              <div class="activites__slide-title tl3">Как перестать сравнивать себя с другими</div>
              <div class="activites__slide-type txt20">Семинар</div>
            </div>
          </div>
          <div class="activites__swiper-slide swiper-slide">
            <div class="activites__slide-date txt16">29.04.2024</div>
            <div class="activites__slide-img">
              <img src="./assets/images/activites-slide-img-2.webp" alt="" />
            </div>
            <div class="activites__slide-descr">
              <div class="activites__slide-title tl3">
                Как сохранить спокойствие и здравомыслие в условиях общей паники и тонн тревожной информации
              </div>
              <div class="activites__slide-type txt20">Мастер-класс</div>
            </div>
          </div>
          <div class="activites__swiper-slide swiper-slide">
            <div class="activites__slide-date txt16">29.04.2024</div>
            <div class="activites__slide-img">
              <img src="./assets/images/activites-slide-img-1.webp" alt="" />
            </div>
            <div class="activites__slide-descr">
              <div class="activites__slide-title tl3">Как перестать сравнивать себя с другими</div>
              <div class="activites__slide-type txt20">Семинар</div>
            </div>
          </div>
          <div class="activites__swiper-slide swiper-slide">
            <div class="activites__slide-date txt16">29.04.2024</div>
            <div class="activites__slide-img">
              <img src="./assets/images/activites-slide-img-2.webp" alt="" />
            </div>
            <div class="activites__slide-descr">
              <div class="activites__slide-title tl3">
                Как сохранить спокойствие и здравомыслие в условиях общей паники и тонн тревожной информации
              </div>
              <div class="activites__slide-type txt20">Мастер-класс</div>
            </div>
          </div>
        </div>
      </div>
      <div class="activites__swiper-navigation swiper-navigation mobile">
        <div class="activites__swiper-left-btn swiper-left-btn swiper-btn">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.29216 7.29289C-0.0983638 7.68342 -0.0983639 8.31658 0.29216 8.70711L6.65612 15.0711C7.04665 15.4616 7.67981 15.4616 8.07033 15.0711C8.46086 14.6805 8.46086 14.0474 8.07033 13.6569L2.41348 8L8.07034 2.34315C8.46086 1.95262 8.46086 1.31946 8.07034 0.928931C7.67981 0.538407 7.04665 0.538407 6.65612 0.928931L0.29216 7.29289ZM16.9993 7L0.999268 7L0.999267 9L16.9993 9L16.9993 7Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="activites__swiper-right-btn swiper-right-btn swiper-btn">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9L16 9V7L0 7L0 9Z"
              fill="white"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
