<section class="coaching-banner wow animate__fadeIn" data-wow-delay="0.1s">
  <div class="container coaching-banner__container">
    <div class="coaching-banner__inner">
      <div class="coaching-banner__content-box wow animate__fadeInUp" data-wow-delay="0.1s">
        <div class="coaching-banner__title-box">
          <p class="coaching-banner__title tl1">Коучинг личностного роста</p>
          <p class="coaching-banner__desc txt20">
            Коуч поможет Вам сформировать цели своего личного, делового и профессионального развития
          </p>
        </div>

        <div class="coaching-banner__btn-box">
          <button class="coaching-banner__btn button-shadow button-shadow--green">
            <span class="button-shadow-text txt16 txt16_caps">Подобрать коуча</span>
            <span class="button-shadow-svg-box">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 1V6M6 6H11M6 6H1M6 6V11"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>

          <button class="coaching-banner__link button-border">
            <span class="button-shadow-text txt16 txt16_caps">получить консультацию</span>
          </button>
        </div>
      </div>
      <div class="coaching-banner__img-box wow animate__fadeInRight" data-wow-delay="0.1s">
        <img src="./assets/images/coaching-banner-img.webp" alt="" />
      </div>
    </div>
  </div>
</section>
