<section class="confidence wow animate__fadeInUp" data-wow-delay="0.1s">
  <div class="confidence__container container">
    <div class="confidence__inner">
      <div class="confidence__title-box wow animate__fadeIn" data-wow-delay="0.5s">
        <p class="confidence__title tl1">Нам доверяют</p>
        <p class="confidence__desc txt20">
          С нами сотрудничают крупные компании. Становитесь нашим партнером.
        </p>
      </div>

      <div class="confidence__swiper-box wow animate__fadeInRight" data-wow-delay="0.5s">
        <div class="confidence__swiper swiper">
          <div class="confidence__swiper-wrapper swiper-wrapper">
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box" style="width: 16.4rem; height: 6.3rem;">
                  <img src="./assets/images/confidence-1.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box "  style="width: 15.5rem; height: 4.4rem;">
                  <img src="./assets/images/confidence-2.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box " style="width: 26.5rem; height: 6rem;">
                  <img src="./assets/images/confidence-3.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box" style="width: 5.4rem; height: 5.6rem;">
                  <img src="./assets/images/confidence-4.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box" style="width: 20.8rem; height: 8.6rem;">
                  <img src="./assets/images/confidence-5.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box" style="width: 16.4rem; height: 6.3rem;">
                  <img src="./assets/images/confidence-1.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box "  style="width: 15.5rem; height: 4.4rem;">
                  <img src="./assets/images/confidence-2.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box " style="width: 26.5rem; height: 6rem;">
                  <img src="./assets/images/confidence-3.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box" style="width: 5.4rem; height: 5.6rem;">
                  <img src="./assets/images/confidence-4.svg" alt="">
                </div>
              </div>
            </div>
            <div class="confidence__swiper-slide swiper-slide">
              <div class="confidence__slide-inner">
                <div class="confidence__img-box" style="width: 20.8rem; height: 8.6rem;">
                  <img src="./assets/images/confidence-5.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
