<section class="directions">
  <div class="container">
    <div class="directions__inner">
      <p class="directions__title tl1">
        <span class="wow animate__fadeInUp" data-wow-delay="0.3s"> Направления работы</span>
      </p>
      <div class="directions__content-box">
        <p class="directions__content-text txt20">
          <span class="wow animate__fadeInUp" data-wow-delay="0.4s">
            Наши психологи научат Вас эффективным методам самопомощи и поддержат в ваших личностных
            трансформациях</span
          >
        </p>

        <a href="#" class="directions__content-psychotherapy-box directions__content-link-wrapper wow animate__fadeInUp" data-wow-delay="0.4s">
          <div class="directions__content-psychotherapy-title-box">
            <div class="directions__content-category-box">
              <p class="directions__content-category txt16 txt16_medium">Психологическая помощь</p>
            </div>

            <p class="directions__content-title tl3">
              Психотерапия
              <span class="directions__content-line">
                <img src="./assets/images/line-title-psychotherapy.svg" alt="">
              </span>
            </p>
          </div>
          <div class="directions__content-link-box">
            <div class="directions__content-link-svg-box">
              <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.5 1V6M6.5 6H11.5M6.5 6H1.5M6.5 6V11"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="directions__content-psychology-box directions__content-link-wrapper wow animate__fadeInUp" data-wow-delay="0.4s"">
          <div class="directions__content-category-box">
            <p class="directions__content-category txt16 txt16_medium">Индивидуальные</p>
            <p class="directions__content-category txt16 txt16_medium">Семейные</p>
            <p class="directions__content-category txt16 txt16_medium">Взрослым</p>
            <p class="directions__content-category txt16 txt16_medium">Детям</p>
          </div>
          <div class="directions__content-psychology-title-wrapper">
            <div class="directions__content-psychology-photo-box">
              <img src="./assets/images/directions-photo.webp" alt="" />
            </div>
            <div class="directions__content-psychology-title-box">
              <p class="directions__content-title tl3">
                Психология
                <span class="directions__content-line">
                  <img src="./assets/images/line-title-psychology.svg" alt="">
                </span>
              </p>
              <div class="directions__content-link-box">
                <div class="directions__content-link-svg-box">
                  <svg
                    width="13"
                    height="12"
                    viewBox="0 0 13 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.5 1V6M6.5 6H11.5M6.5 6H1.5M6.5 6V11"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="directions__content-coaching-box directions__content-link-wrapper wow animate__fadeInUp" data-wow-delay="0.4s"">
          <div class="directions__content-coaching-title-box">
            <div class="directions__content-category-box">
              <p class="directions__content-category txt16 txt16_medium">Развивающие практики</p>
            </div>
            <p class="directions__content-title tl3">
              <span class="directions__content-line">
                <img src="./assets/images/line-title-coaching.svg" alt="">
              </span>
              Коучинг
            </p>
          </div>
          <div class="directions__content-link-box">
            <div class="directions__content-link-svg-box">
              <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.5 1V6M6.5 6H11.5M6.5 6H1.5M6.5 6V11"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>

        <a href="#" class="directions__content-link button-border wow animate__fadeInUp" data-wow-delay="0.4s">
          <span class="button-shadow-text txt16 txt16_caps">Смотреть все</span>
        </a>
      </div>
    </div>
  </div>
</section>
