<section class="experts">
  <div class="container">
    <div class="experts__inner">
      <div class="experts__title-box">
        <p class="experts__title tl1 wow animate__fadeInLeft" data-wow-delay="0.3s">Наши эксперты</p>
        <div class="experts__swiper-navigation swiper-navigation desktop wow animate__fadeInRight" data-wow-delay="0.3s">
          <div
            class="experts__swiper-left-btn swiper-left-btn swiper-btn swiper-button-disabled"
            tabindex="-1"
            role="button"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-15a71071a103710e879"
            aria-disabled="true"
          >
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.29216 7.29289C-0.0983638 7.68342 -0.0983639 8.31658 0.29216 8.70711L6.65612 15.0711C7.04665 15.4616 7.67981 15.4616 8.07033 15.0711C8.46086 14.6805 8.46086 14.0474 8.07033 13.6569L2.41348 8L8.07034 2.34315C8.46086 1.95262 8.46086 1.31946 8.07034 0.928931C7.67981 0.538407 7.04665 0.538407 6.65612 0.928931L0.29216 7.29289ZM16.9993 7L0.999268 7L0.999267 9L16.9993 9L16.9993 7Z"
                fill="white"
              ></path>
            </svg>
          </div>
          <div
            class="experts__swiper-right-btn swiper-right-btn swiper-btn"
            tabindex="0"
            role="button"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-15a71071a103710e879"
            aria-disabled="false"
          >
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9L16 9V7L0 7L0 9Z"
                fill="white"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="experts__swiper-box">
        <div class="experts__swiper swiper">
          <div class="experts__swiper-wrapper swiper-wrapper">
            <div class="experts__swiper-slide swiper-slide wow animate__fadeInUp" data-wow-delay="0.1s">
              <div class="experts__slide-inner">
                <div class="experts__slide-header-box">
                  <div class="experts__slide-header-photo-box">
                    <img src="./assets/images/experts-swiper-1.webp" alt="" />
                  </div>
                  <div class="experts__slide-header-info-box">
                    <p class="experts__slide-header-position txt16">MCP коуч</p>
                    <p class="experts__slide-header-name tl4">Елена Бочкарникова</p>
                    <div class="experts__slide-exp-box">
                      <p class="experts__slide-exp txt16">28 лет</p>
                      <span class="experts__slide-exp-dot"></span>
                      <p class="experts__slide-exp txt16">Опыт 4 года</p>
                    </div>
                  </div>
                </div>
                <div class="experts__slide-cost-wrapper">
                  <div class="experts__slide-cost-box">
                    <p class="experts__slide-cost-title tl4">Стоимость:</p>
                    <p class="experts__slide-cost-num txt20">от 3500 ₽</p>
                  </div>
                  <div class="experts__slide-category-box">
                    <p class="experts__slide-category txt16">Онлайн</p>
                    <span class="experts__slide-category-dot"></span>
                    <p class="experts__slide-category txt16">Лично</p>
                  </div>
                </div>
                <div class="experts__slide-query-box">
                  <p class="experts__slide-query-title tl4">Работает с запросами:</p>
                  <ul class="experts__slide-query-list">
                    <li class="experts__slide-query-item txt16">Отношения</li>
                    <li class="experts__slide-query-item txt16">Стресс</li>
                    <li class="experts__slide-query-item txt16">Зависимость</li>
                    <li class="experts__slide-query-item txt16">Выгорание</li>
                    <li class="experts__slide-query-item txt16">Тревога</li>
                    <li class="experts__slide-query-item txt16">Депрессия</li>
                  </ul>
                </div>
                <div class="experts__slide-btn-box">
                    <a href="#" class="experts__slide-link button-border">
                        <span class="button-shadow-text txt16 txt16_caps">подробнее</span>
                      </a>
                  <button
                    data-popup="#popup__feedback"
                    class="experts__slide-btn button-shadow button-shadow--green"
                  >
                    <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
                    <span class="button-shadow-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="experts__swiper-slide swiper-slide wow animate__fadeInUp" data-wow-delay="0.2s">
              <div class="experts__slide-inner">
                <div class="experts__slide-header-box">
                  <div class="experts__slide-header-photo-box">
                    <img src="./assets/images/experts-swiper-2.webp" alt="" />
                  </div>
                  <div class="experts__slide-header-info-box">
                    <p class="experts__slide-header-position txt16">Семейный и дeтcкий пcиxoлог</p>
                    <p class="experts__slide-header-name tl4">Ольга Богуславская</p>
                    <div class="experts__slide-exp-box">
                      <p class="experts__slide-exp txt16">40 лет</p>
                      <span class="experts__slide-exp-dot"></span>
                      <p class="experts__slide-exp txt16">Опыт 20 лет</p>
                    </div>
                  </div>
                </div>
                <div class="experts__slide-cost-wrapper">
                  <div class="experts__slide-cost-box">
                    <p class="experts__slide-cost-title tl4">Стоимость:</p>
                    <p class="experts__slide-cost-num txt20">от 3500 ₽</p>
                  </div>
                  <div class="experts__slide-category-box">
                    <p class="experts__slide-category txt16">Онлайн</p>
                  </div>
                </div>
                <div class="experts__slide-query-box">
                  <p class="experts__slide-query-title tl4">Работает с запросами:</p>
                  <ul class="experts__slide-query-list">
                    <li class="experts__slide-query-item txt16">Отношения</li>
                    <li class="experts__slide-query-item txt16">Стресс</li>
                    <li class="experts__slide-query-item txt16">Зависимость</li>
                    <li class="experts__slide-query-item txt16">Выгорание</li>
                    <li class="experts__slide-query-item txt16">Тревога</li>
                    <li class="experts__slide-query-item txt16">Депрессия</li>
                  </ul>
                </div>
                <div class="experts__slide-btn-box">
                    <a href="#" class="experts__slide-link button-border">
                        <span class="button-shadow-text txt16 txt16_caps">подробнее</span>
                      </a>
                  <button
                    data-popup="#popup__feedback"
                    class="experts__slide-btn button-shadow button-shadow--green"
                  >
                    <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
                    <span class="button-shadow-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="experts__swiper-slide swiper-slide wow animate__fadeInUp" data-wow-delay="0.3s">
              <div class="experts__slide-inner">
                <div class="experts__slide-header-box">
                  <div class="experts__slide-header-photo-box">
                    <img src="./assets/images/experts-swiper-3.webp" alt="" />
                  </div>
                  <div class="experts__slide-header-info-box">
                    <p class="experts__slide-header-position txt16">Тренер по продажам</p>
                    <p class="experts__slide-header-name tl4">Наталья Ерофеева</p>
                    <div class="experts__slide-exp-box">
                      <p class="experts__slide-exp txt16">38 лет</p>
                      <span class="experts__slide-exp-dot"></span>
                      <p class="experts__slide-exp txt16">Опыт 15 лет</p>
                    </div>
                  </div>
                </div>
                <div class="experts__slide-cost-wrapper">
                  <div class="experts__slide-cost-box">
                    <p class="experts__slide-cost-title tl4">Стоимость:</p>
                    <p class="experts__slide-cost-num txt20">от 3500 ₽</p>
                  </div>
                  <div class="experts__slide-category-box">
                    <p class="experts__slide-category txt16">Лично</p>
                  </div>
                </div>
                <div class="experts__slide-query-box">
                  <p class="experts__slide-query-title tl4">Работает с запросами:</p>
                  <ul class="experts__slide-query-list">
                    <li class="experts__slide-query-item txt16">Отношения</li>
                    <li class="experts__slide-query-item txt16">Стресс</li>
                    <li class="experts__slide-query-item txt16">Зависимость</li>
                    <li class="experts__slide-query-item txt16">Выгорание</li>
                    <li class="experts__slide-query-item txt16">Тревога</li>
                    <li class="experts__slide-query-item txt16">Депрессия</li>
                    <li class="experts__slide-query-item txt16">Отношения</li>
                  </ul>
                </div>
                <div class="experts__slide-btn-box">
                    <a href="#" class="experts__slide-link button-border">
                        <span class="button-shadow-text txt16 txt16_caps">подробнее</span>
                      </a>
                  <button
                    data-popup="#popup__feedback"
                    class="experts__slide-btn button-shadow button-shadow--green"
                  >
                    <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
                    <span class="button-shadow-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="experts__swiper-slide swiper-slide">
                <div class="experts__slide-inner">
                  <div class="experts__slide-header-box">
                    <div class="experts__slide-header-photo-box">
                      <img src="./assets/images/experts-swiper-1.webp" alt="" />
                    </div>
                    <div class="experts__slide-header-info-box">
                      <p class="experts__slide-header-position txt16">MCP коуч</p>
                      <p class="experts__slide-header-name tl4">Елена Бочкарникова</p>
                      <div class="experts__slide-exp-box">
                        <p class="experts__slide-exp txt16">28 лет</p>
                        <span class="experts__slide-exp-dot"></span>
                        <p class="experts__slide-exp txt16">Опыт 4 года</p>
                      </div>
                    </div>
                  </div>
                  <div class="experts__slide-cost-wrapper">
                    <div class="experts__slide-cost-box">
                      <p class="experts__slide-cost-title tl4">Стоимость:</p>
                      <p class="experts__slide-cost-num txt20">от 3500 ₽</p>
                    </div>
                    <div class="experts__slide-category-box">
                      <p class="experts__slide-category txt16">Онлайн</p>
                      <span class="experts__slide-category-dot"></span>
                      <p class="experts__slide-category txt16">Лично</p>
                    </div>
                  </div>
                  <div class="experts__slide-query-box">
                    <p class="experts__slide-query-title tl4">Работает с запросами:</p>
                    <ul class="experts__slide-query-list">
                      <li class="experts__slide-query-item txt16">Отношения</li>
                      <li class="experts__slide-query-item txt16">Стресс</li>
                      <li class="experts__slide-query-item txt16">Зависимость</li>
                      <li class="experts__slide-query-item txt16">Выгорание</li>
                      <li class="experts__slide-query-item txt16">Тревога</li>
                      <li class="experts__slide-query-item txt16">Депрессия</li>
                    </ul>
                  </div>
                  <div class="experts__slide-btn-box">
                    <a href="#" class="experts__slide-link button-border">
                      <span class="button-shadow-text txt16 txt16_caps">подробнее</span>
                    </a>
                    <button
                      data-popup="#popup__feedback"
                      class="experts__slide-btn button-shadow button-shadow--green"
                    >
                      <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
                      <span class="button-shadow-svg-box">
                        <svg
                          width="12"
                          height="12"
                          viewBox="0 0 12 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M6 1V6M6 6H11M6 6H1M6 6V11"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="experts__swiper-slide swiper-slide">
                <div class="experts__slide-inner">
                  <div class="experts__slide-header-box">
                    <div class="experts__slide-header-photo-box">
                      <img src="./assets/images/experts-swiper-2.webp" alt="" />
                    </div>
                    <div class="experts__slide-header-info-box">
                      <p class="experts__slide-header-position txt16">Семейный и дeтcкий пcиxoлог</p>
                      <p class="experts__slide-header-name tl4">Ольга Богуславская</p>
                      <div class="experts__slide-exp-box">
                        <p class="experts__slide-exp txt16">40 лет</p>
                        <span class="experts__slide-exp-dot"></span>
                        <p class="experts__slide-exp txt16">Опыт 20 лет</p>
                      </div>
                    </div>
                  </div>
                  <div class="experts__slide-cost-wrapper">
                    <div class="experts__slide-cost-box">
                      <p class="experts__slide-cost-title tl4">Стоимость:</p>
                      <p class="experts__slide-cost-num txt20">от 3500 ₽</p>
                    </div>
                    <div class="experts__slide-category-box">
                      <p class="experts__slide-category txt16">Онлайн</p>
                    </div>
                  </div>
                  <div class="experts__slide-query-box">
                    <p class="experts__slide-query-title tl4">Работает с запросами:</p>
                    <ul class="experts__slide-query-list">
                      <li class="experts__slide-query-item txt16">Отношения</li>
                      <li class="experts__slide-query-item txt16">Стресс</li>
                      <li class="experts__slide-query-item txt16">Зависимость</li>
                      <li class="experts__slide-query-item txt16">Выгорание</li>
                      <li class="experts__slide-query-item txt16">Тревога</li>
                      <li class="experts__slide-query-item txt16">Депрессия</li>
                    </ul>
                  </div>
                  <div class="experts__slide-btn-box">
                         <a href="#" class="experts__slide-link button-border">
                      <span class="button-shadow-text txt16 txt16_caps">подробнее</span>
                    </a>
                    <button
                      data-popup="#popup__feedback"
                      class="experts__slide-btn button-shadow button-shadow--green"
                    >
                      <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
                      <span class="button-shadow-svg-box">
                        <svg
                          width="12"
                          height="12"
                          viewBox="0 0 12 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M6 1V6M6 6H11M6 6H1M6 6V11"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="experts__swiper-slide swiper-slide">
                <div class="experts__slide-inner">
                  <div class="experts__slide-header-box">
                    <div class="experts__slide-header-photo-box">
                      <img src="./assets/images/experts-swiper-3.webp" alt="" />
                    </div>
                    <div class="experts__slide-header-info-box">
                      <p class="experts__slide-header-position txt16">Тренер по продажам</p>
                      <p class="experts__slide-header-name tl4">Наталья Ерофеева</p>
                      <div class="experts__slide-exp-box">
                        <p class="experts__slide-exp txt16">38 лет</p>
                        <span class="experts__slide-exp-dot"></span>
                        <p class="experts__slide-exp txt16">Опыт 15 лет</p>
                      </div>
                    </div>
                  </div>
                  <div class="experts__slide-cost-wrapper">
                    <div class="experts__slide-cost-box">
                      <p class="experts__slide-cost-title tl4">Стоимость:</p>
                      <p class="experts__slide-cost-num txt20">от 3500 ₽</p>
                    </div>
                    <div class="experts__slide-category-box">
                      <p class="experts__slide-category txt16">Лично</p>
                    </div>
                  </div>
                  <div class="experts__slide-query-box">
                    <p class="experts__slide-query-title tl4">Работает с запросами:</p>
                    <ul class="experts__slide-query-list">
                      <li class="experts__slide-query-item txt16">Отношения</li>
                      <li class="experts__slide-query-item txt16">Стресс</li>
                      <li class="experts__slide-query-item txt16">Зависимость</li>
                      <li class="experts__slide-query-item txt16">Выгорание</li>
                      <li class="experts__slide-query-item txt16">Тревога</li>
                      <li class="experts__slide-query-item txt16">Депрессия</li>
                      <li class="experts__slide-query-item txt16">Отношения</li>
                    </ul>
                  </div>
                  <div class="experts__slide-btn-box">
                         <a href="#" class="experts__slide-link button-border">
                      <span class="button-shadow-text txt16 txt16_caps">подробнее</span>
                    </a>
                    <button
                      data-popup="#popup__feedback"
                      class="experts__slide-btn button-shadow button-shadow--green"
                    >
                      <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
                      <span class="button-shadow-svg-box">
                        <svg
                          width="12"
                          height="12"
                          viewBox="0 0 12 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M6 1V6M6 6H11M6 6H1M6 6V11"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="experts__swiper-navigation swiper-navigation mobile wow animate__fadeIn" data-wow-delay="0.3s">
          <div
            class="experts__swiper-left-btn swiper-left-btn swiper-btn swiper-button-disabled"
            tabindex="-1"
            role="button"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-15a71071a103710e879"
            aria-disabled="true"
          >
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.29216 7.29289C-0.0983638 7.68342 -0.0983639 8.31658 0.29216 8.70711L6.65612 15.0711C7.04665 15.4616 7.67981 15.4616 8.07033 15.0711C8.46086 14.6805 8.46086 14.0474 8.07033 13.6569L2.41348 8L8.07034 2.34315C8.46086 1.95262 8.46086 1.31946 8.07034 0.928931C7.67981 0.538407 7.04665 0.538407 6.65612 0.928931L0.29216 7.29289ZM16.9993 7L0.999268 7L0.999267 9L16.9993 9L16.9993 7Z"
                fill="white"
              ></path>
            </svg>
          </div>
          <div
            class="experts__swiper-right-btn swiper-right-btn swiper-btn"
            tabindex="0"
            role="button"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-15a71071a103710e879"
            aria-disabled="false"
          >
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9L16 9V7L0 7L0 9Z"
                fill="white"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
