<footer class="footer wow animate__fadeInUp" data-wow-delay="0.2s">
  <div class="footer-form wow animate__fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <div class="footer-form__inner">
        <div class="footer-form__content-box">
          <p class="footer-form__title tl1">Остались вопросы?</p>
          <div class="footer-form__info-box">
            <p class="footer-form__info-text txt20">
              Оставьте заявку или свяжитесь с нами любым удобным способом
            </p>
            <div class="footer-form__info-link-box">
              <a href="#" class="footer-form__info-link">
                <div class="footer-form__info-link-svg-box">
                  <img src="./assets/images/icons/telegram.svg" alt="" />
                </div>
              </a>
              <a href="#" class="footer-form__info-link">
                <div class="footer-form__info-link-svg-box">
                  <img src="./assets/images/icons/watsap.svg" alt="" />
                </div>
              </a>
              <a href="#" class="footer-form__info-link">
                <div class="footer-form__info-link-svg-box">
                  <img src="./assets/images/icons/mail.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>
        <form class="footer-form__form" data-popup-message="#popup__success" data-dev action="">
          <div class="footer-form__form-input-wrapper">
            <div class="footer-form__form-input-box txt18">
              <label class="footer-form__label input-group">
                <span class="form__input-wrapper">
                  <input
                    data-validate
                    data-required="tel"
                    class="footer-form__form-input phone-mask _input-white"
                    type="text"
                    autocomplete="off"
                    name="form[]"
                    placeholder="+7 (___) ___-__-__"
                  />
                </span>
                <span class="error-span">Введите номер телефона</span>
              </label>
              <label class="footer-form__label input-group">
                <span class="form__input-wrapper">
                  <input
                    class="input--name footer-form__form-input _input-white"
                    type="text"
                    data-validate
                    data-required="name"
                    autocomplete="off"
                    name="form[]"
                    placeholder="Имя"
                  />
                </span>
                <span class="error-span">Поле заполнено неверно</span>
              </label>
            </div>
            <button class="footer-form__btn button-shadow button-shadow--white" type="submit">
              <span class="button-shadow-text txt16 txt16_caps">заказать звонок</span>
              <span class="button-shadow-svg-box">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 1V6M6 6H11M6 6H1M6 6V11"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-content">
    <div class="container footer-content__container">
      <div class="footer-content__inner">
        <div class="footer-content__top">
          <a href="#" class="footer-content__top-logo tl3"> mental <br />health </a>
          <nav class="footer-content__nav">
            <div class="footer-content__nav-list-box">
              <div class="footer-content__nav-list-title-box">
                <p class="footer-content__nav-list-title tl4">Направления</p>
                <div class="footer-content__nav-list-svg-box mobile">
                  <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.4375L6 6.4375L11 1.4375" stroke="#3E4042" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
              </div>
              <div class="footer-content__nav-list-wrapper">
                <ul class="footer-content__nav-list">
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Психологические консультации</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Групповая психотерапия</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Курсы и обучающие программы</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20"
                      >Консультации смежных специалистов при необходимости</a
                    >
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Тестирование</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Профориентация для детей и взрослых</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Ретриты</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Коучинг</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-content__nav-list-box">
              <div class="footer-content__nav-list-title-box">
                <p class="footer-content__nav-list-title tl4">Для специалистов</p>
                <div class="footer-content__nav-list-svg-box mobile">
                  <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.4375L6 6.4375L11 1.4375" stroke="#3E4042" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
              </div>
              <div class="footer-content__nav-list-wrapper">
                <ul class="footer-content__nav-list">
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20"
                      >Консультации психолога и коуча индивидуальные</a
                    >
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Обучение</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Услуги по упаковке и продвижению</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Супервизии и интервизии</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Тренинги по продажам</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-content__nav-list-box">
              <div class="footer-content__nav-list-title-box">
                <p class="footer-content__nav-list-title tl4">О нас</p>
                <div class="footer-content__nav-list-svg-box mobile">
                  <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.4375L6 6.4375L11 1.4375" stroke="#3E4042" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
              </div>
              <div class="footer-content__nav-list-wrapper">
                <ul class="footer-content__nav-list">
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">О компании</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Наши специалисты</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Тарифы</a>
                  </li>
                  <li class="footer-content__nav-item">
                    <a href="#" class="footer-content__nav-link txt20">Контакты</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="footer-content__link-box">
            <a href="#" class="footer-content__link txt20">Политика конфиденциальности</a>
            <a href="#" class="footer-content__link txt20">Обработка персональных данных</a>
          </div>
        </div>
        <div class="footer-content__bottom">
          <p class="footer-content__copy txt16">© 2024 mental health</p>
          <p class="footer-content__bottom-text txt16">
            Информация, размещенная на сайте, не является публичной офертой
          </p>
          <a class="footer-content__request" href="#">
            <div class="footer-content__request-img-box">
              <img src="./assets/images/icons/request-logo.svg" alt="" />
            </div>
            <p class="footer-content__request-text-logo">Request Design</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
