<section class="format wow animate__fadeInUp" data-wow-delay="0.3s">
  <div class="format__container container">
    <div class="format__inner">
      <div class="format__img-box">
        <picture class="format__img">
          <source media="(min-width: 48em)" srcset="./assets/images/format-img.webp" />
          <source media="(max-width: 48em)" srcset="./assets/images/format-img-mobile.webp" />
          <img src="./assets/images/format-img.webp" alt="" />
        </picture>
      </div>
      <div class="format__content-box">
        <p class="format__content-title tl1">Общайтесь <br> с коучем <br> в удобном для вас формате</p>
        <a href="#" class="format__content-btn button-shadow button-shadow--white">
          <span class="button-shadow-text txt16 txt16_caps">Подобрать коуча</span>
          <span class="button-shadow-svg-box">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6 1V6M6 6H11M6 6H1M6 6V11"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <div class="format__content-img">
          <svg width="589" height="427" viewBox="0 0 589 427" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M194.374 46C219.137 123.085 246.863 198.933 286.795 269.599C309.406 309.613 335.942 346.571 364.888 382M373.485 83.4936C293.675 197.155 177.464 280.089 59.6813 350.275M46 147.073C103.669 171.947 229.541 223.714 287.512 247.888M296.109 227.7C378.821 236.687 461.463 244.783 544 255.099"
              stroke="white"
              stroke-opacity="0.4"
              stroke-width="90"
              stroke-linecap="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
