<header class="header  ">
  <div class="container">
    <div class="header__c">
      <a href="#" class="header__c-logo tl3"> mental <br />health </a>


      <div class="header__c-nav ">
        <div class="header__c-nav-w">
          <nav class="header__c-nav-links ">
            <button class="header__c-nav-links-e txt20" id="headServiceBtn">
              Услуги
              <svg viewBox="0 0 18 10" fill="none" stroke="#3E4042" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L9 9L17 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

            </button>
            <a href="#" class="header__c-nav-links-e txt20"> О нас</a>
            <a href="#" class="header__c-nav-links-e txt20"> Наши специалисты</a>
            <a href="#" class="header__c-nav-links-e txt20"> Мероприятия</a>
            <a href="#" class="header__c-nav-links-e txt20"> База знаний</a>
            <a href="#" class="header__c-nav-links-e txt20"> Контакты</a>
          </nav>

          <button class="header__c-nav-call  button-border">
            <span class="button-shadow-text txt16 txt16_caps">
              заказать звонок
            </span>
          </button>

          <div class="header__c-nav-banner">
            <div>
              <p class="tl3">Не можете определить свою проблему?</p>
              <p class="txt20">Поможем Вам выявить истинные желания, мотивы поступков и сложности</p>
            </div>
            <button class="button-shadow button-shadow--white">
              <span class="button-shadow-text txt16 txt16_caps">Пройдите тест</span>
              <span class="button-shadow-svg-box">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 1V6M6 6H11M6 6H1M6 6V11" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>


      <button class="header__c-call button-border">
        <span class="button-shadow-text txt16 txt16_caps">
          заказать звонок
        </span>

      </button>

      <button class="header__c-nav-drop-down ">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="header__c-services-desk">
        <div class="container">
          <div class="header__c-services-desk-c">
            <div class="header__c-services-desk-c-left">
              <div class="header__c-services-desk-c-left-w">
                <ul class="header__c-services-desk-c-left-list">
                  <li class="header__c-services-desk-c-left-list-e header__c-services-desk-c-left-list-e_active tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                  <li class="header__c-services-desk-c-left-list-e tl3">
                    Для психолога
                    <hr>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header__c-services-desk-c-right">
              <div class="header__c-services-desk-c-right-w">
                <ul class="header__c-services-desk-c-right-list">
                  <li class="header__c-services-desk-c-right-list-e txt20">
                    <a href="#">Распространенные заболевания</a>
                  </li>
                  <li class="header__c-services-desk-c-right-list-e txt20">
                    <a href="#">Распространенные заболевания</a>
                  </li>
                  <li class="header__c-services-desk-c-right-list-e txt20">
                    <a href="#">Распространенные заболевания</a>
                  </li>
                  <li class="header__c-services-desk-c-right-list-e txt20">
                    <a href="#">Распространенные заболевания</a>
                  </li>

                </ul>
              </div>
              <div class="header__c-services-desk-c-right-banner">
                <div>
                  <p class="tl3">Не можете определить свою проблему?</p>
                  <p class="txt20">Поможем Вам выявить истинные желания, мотивы поступков и сложности</p>
                </div>
                <button class="button-shadow button-shadow--white">
                  <span class="button-shadow-text txt16 txt16_caps">Пройдите тест</span>
                  <span class="button-shadow-svg-box">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 1V6M6 6H11M6 6H1M6 6V11" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__c-services-mob ">
        <div class="header__c-services-mob-c">
          <button class="button-border header__c-services-mob-c-close">
            <span class="button-shadow-text txt16 txt16_caps">назад</span>
          </button>
          <div class="header__c-services-mob-c-scroll">
            <ul class="header__c-services-mob-c-scroll-list">
              <li class="header__c-services-mob-c-scroll-list-e  tl3">
                <button class="header__c-services-mob-c-scroll-list-e-btn">
                  Психотерапия
                  <svg viewBox="0 0 18 10" fill="none" stroke="#3E4042" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L17 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </button>
                <div class="header__c-services-mob-c-scroll-list-e-w">
                  <ul class="header__c-services-mob-c-scroll-list-e-w-list">
                    <li class="header__c-services-mob-c-scroll-list-e-w-list-e txt16">
                      <a href="#">Распространенные заболевания</a>
                    </li>
                    <li class="header__c-services-mob-c-scroll-list-e-w-list-e txt16">
                      <a href="#">Распространенные заболевания</a>
                    </li>
                    <li class="header__c-services-mob-c-scroll-list-e-w-list-e txt16">
                      <a href="#">Распространенные заболевания</a>
                    </li>
                  </ul>

                </div>
              </li>
              <li class="header__c-services-mob-c-scroll-list-e  tl3">
                <button class="header__c-services-mob-c-scroll-list-e-btn">
                  Психотерапия
                  <svg viewBox="0 0 18 10" fill="none" stroke="#3E4042" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L17 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </button>
                <div class="header__c-services-mob-c-scroll-list-e-w">
                  <ul class="header__c-services-mob-c-scroll-list-e-w-list">
                    <li class="header__c-services-mob-c-scroll-list-e-w-list-e txt16">
                      <a href="#">Распространенные заболевания</a>
                    </li>
                    <li class="header__c-services-mob-c-scroll-list-e-w-list-e txt16">
                      <a href="#">Распространенные заболевания</a>
                    </li>
                    <li class="header__c-services-mob-c-scroll-list-e-w-list-e txt16">
                      <a href="#">Распространенные заболевания</a>
                    </li>
                  </ul>

                </div>
              </li>


            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>