<section class="help-with wow animate__fadeInUp" data-wow-delay="0.5s">
  <div class="container">
    <div class="help-with__inner">
      <p class="help-with__title tl1">С чем может помочь терапия</p>
      <ul class="help-with__list-box">
        <li class="help-with__item help-with__item--green tl4">Выстроить комфортное общение</li>
        <li class="help-with__item help-with__item--blue tl4">Преодолеть страх</li>
        <li class="help-with__item help-with__item--green tl4">Справиться со стрессом</li>
        <li class="help-with__item help-with__item--blue tl4">Справиться с зависимостью</li>
        <li class="help-with__item help-with__item--green tl4">Преодолеть тревогу</li>
        <li class="help-with__item help-with__item--blue tl4">Разобраться в себе</li>
        <li class="help-with__item help-with__item--green tl4">Справиться с выгоранием</li>
        <li class="help-with__item help-with__item--green tl4 desktop">Справиться с прокрастинацией</li>
        <li class="help-with__item help-with__item--blue tl4 desktop">Преодолеть депрессию</li>
        <li class="help-with__item help-with__item--green tl4 desktop">Понять, что беспокоит</li>
      </ul>
    </div>
  </div>
</section>
