<section class="identify-problem wow animate__fadeInUp" data-wow-delay="0.1s">
  <div class="identify-problem__container container">
    <div class="identify-problem__inner">
      <div class="identify-problem__title-box mobile">
        <p class="identify-problem__title tl1 wow animate__fadeInUp" data-wow-delay="0.3s">Не можете определить свою проблему?</p>
      </div>
      <div class="identify-problem__content-box">
        <div class="identify-problem__content-title-box wow animate__fadeInUp" data-wow-delay="0.3s">
            <p class="identify-problem__title tl1 desktop">Не можете определить свою проблему?</p>
            <div class="identify-problem__content-btn-box">
                <p class="identify-problem__content-text txt20">Поможем Вам выявить истинные желания, мотивы поступков и сложности</p>
                <a href="" class="identify-problem__content-btn button-shadow button-shadow--white">
                    <span class="button-shadow-text txt16 txt16_caps">пройдите тест</span>
                    <span class="button-shadow-svg-box">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
            </div>
        </div>
        <p class="identify-problem__content-desc tl4 wow animate__fadeInUp" data-wow-delay="0.3s">Всего 10 вопросов, которые займут 6 минут</p>
        <div class="identify-problem__content-bg">
            <img src="./assets/images/identify-problem-bg.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
