<section class="improve">
  <div class="container">
    <div class="improve__inner">
      <div class="improve__content-box wow animate__fadeInUp" data-wow-delay="0.1s">
        <div class="improve__content-title-box">
          <p class="improve__content-title tl2 wow animate__fadeInUp" data-wow-delay="0.8s">
            <span class="tl1">86%</span> людей чувствует улучшения после 6 консультации
          </p>
        </div>
        <div class="improve__content-info-wrapper wow animate__fadeIn" data-wow-delay="0.8s">
          <div class="improve__content-btn-box">
            <p class="improve__content-text txt20">
              Мы организовали весь процесс так, чтобы вы могли сосредоточиться на самом важном — на себе и
              своем запросе
            </p>
            <button class="improve__content-btn button-shadow button-shadow--green" data-popup="#popup__feedback">
              <span class="button-shadow-text txt16 txt16_caps">оставить заявку</span>
              <span class="button-shadow-svg-box">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 1V6M6 6H11M6 6H1M6 6V11"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </button>
          </div>
          <div class="improve__content-info-list">
            <p class="improve__content-info-item tl4">Только cертифицированные специалисты</p>
            <p class="improve__content-info-item tl4">Поддержка 1:1 от начала до конца</p>
            <p class="improve__content-info-item tl4">Эффективные авторские методики</p>
            <p class="improve__content-info-item tl4">Запись на приём всего за 24 ч</p>
          </div>
        </div>
      </div>
      <div class="improve__phone-box wow animate__fadeInUp" data-wow-delay="0.3s">
        <div class="improve__phone-title-wrapper">
          <div class="improve__phone-title-box wow animate__fadeInUp" data-wow-delay="0.8s">
            <a href="tel:+70000000000" class="improve__phone tl3">+7 (000) 000 00-00</a>
            <p class="improve__phode-desc txt20">Подберём психолога и поможем решить проблемы</p>
          </div>
        </div>
        <div class="improve__phode-img-box wow animate__fadeInUp" data-wow-delay="0.8s">
            <img src="./assets/images/improve-photo.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
