<section class="main-banner">
  <div class="main-banner__container container">
    <div class="main-banner__inner">
      <div class="main-banner__title-box">
        <div class="main-banner__category txt16 txt16_bold">Консультации психологов</div>
        <p class="main-banner__title tl1"><span>Портал психологической помощи</span></p>
      </div>
      <div class="main-banner__content-box desktop">
        <div class="main-banner__goal-wrapper">
          <div class="main-banner__goal-box">
            <p class="main-banner__goal-text txt20">
              Наша цель - помочь вам развиваться, расти и обрести гармонию внутри себя
            </p>
            <div class="main-banner__experience-box">
              <div class="main-banner__experience-img-box">
                <img src="./assets/images/main-banner-goal-photo.webp" alt="" />
              </div>
              <div class="main-banner__experience-text-box">
                <p class="main-banner__experience-title txt16 txt16_bold">5 лет</p>
                <p class="main-banner__experience-desc txt16">средний стаж специалистов</p>
              </div>
            </div>
          </div>
        </div>
        <div class="main-banner__grade-wrapper">
          <div class="main-banner__grade-box">
            <div class="main-banner__grade-info-box">
              <div class="main-banner__grade-img-wrapper">
                <div class="main-banner__img-box"><img src="./assets/images/star.svg" alt="" /></div>
                <div class="main-banner__img-box"><img src="./assets/images/star.svg" alt="" /></div>
                <div class="main-banner__img-box"><img src="./assets/images/star.svg" alt="" /></div>
                <div class="main-banner__img-box"><img src="./assets/images/star.svg" alt="" /></div>
                <div class="main-banner__img-box"><img src="./assets/images/star.svg" alt="" /></div>
              </div>
              <div class="main-banner__grade-info-text txt20">
                Получите поддержку и помощь от опытных психологов, развивайте свою личность и улучшайте
                качество жизни на нашем портале
              </div>
            </div>
            <div class="main-banner__grade-count-box">
              <p class="main-banner__grade-count-title">1000+</p>
              <p class="main-banner__grade-count-text txt16">человек прошли терапию</p>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner__btn-box">
        <button class="main-banner__btn button-shadow button-shadow--green">
          <span class="button-shadow-text txt16 txt16_caps">Подобрать психолога</span>
          <span class="button-shadow-svg-box">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6 1V6M6 6H11M6 6H1M6 6V11"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>
        <button class="main-banner__btn button-border">
          <span class="button-shadow-text txt16 txt16_caps">получить консультацию</span>
        </button>
      </div>
      <div class="main-banner__img-wrapper">
        <div class="main-banner__img-bg">
          <img src="./assets/images/main-banner-bg.svg" alt="" />
        </div>
        <div class="main-banner__img-photo">
          <img src="./assets/images/main-banner-photo.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
