<section class="main-banner">
  <div class="main-banner__container container">
    <div class="main-banner__inner">
      <div class="main-banner__title-box">
        <div class="main-banner__category txt16 txt16_bold">Консультации психологов </div>
        <p class="main-banner__title tl1"><span>Портал психологической помощи</span></p>
      </div>
      <div class="main-banner__content-box"></div>
      <div class="main-banner__btn-box">
        <button class="button-shadow button-shadow--green">
            <span class="button-shadow-text txt16 txt16_caps">Подобрать психолога</span>
            <span class="button-shadow-svg-box">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 1V6M6 6H11M6 6H1M6 6V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
            </span>
        </button>
        

        <button class="button-border">
            <span class="button-shadow-text txt16 txt16_caps">получить консультацию</span>
        </button>
      </div>
    </div>
  </div>
</section>
