<section class="mission">
  <div class="mission__container container">
    <div class="mission__left">
      <div class="mission__title tl1">Миссия проекта</div>
      <div class="mission__text txt20">
        Наша миссия: продвигать мировые стандарты психотерапии на российский рынок. Мы опираемся на научные
        данные и придерживаемся жестких этических правил. Отбираем лучших психологов и внедряем передовые
        методики работы.
      </div>
      <a href="#" class="txt16 txt16_caps">
        <button class="button-border">
          <span class="button-shadow-text txt16 txt16_caps">Узнать больше о нас</span>
        </button>
      </a>
    </div>
    <div class="mission__right">
      <div class="mission__comment wow animate__fadeInUp">
        <div class="mission__comment-head">
          <div class="mission__comment-avatar">
            <img src="./assets/images/mission-user-avatar.webp" alt="" />
          </div>
          <div class="mission__comment-info">
            <div class="mission__comment-name txt16">Имя Фамилия</div>
            <div class="mission__comment-post txt16">Директор</div>
          </div>
        </div>
        <div class="mission__comment-text txt20">
          Я знаю, насколько терапия может быть полезной, а иногда даже спасительной, не только как специалист,
          но и как клиент. Я хочу, чтобы процесс выбора психолога стал удобным и эффективным, а клиенты
          чувствовали себя в безопасности.
        </div>
      </div>
      <div class="mission__line desktop">
        <svg width="786" height="33" viewBox="0 0 786 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.5 23.2705C26.6292 12.1014 52.1855 11.6039 80.7464 13.843C93.5139 14.8439 105.303 20.9656 117.804 23.2705C135.334 26.5025 154.312 25.741 171.965 24.5859C197.935 22.8867 222.5 17.9514 247.221 10.3351C255.059 7.92029 267.233 3.65132 275.499 2.66154C288.989 1.04625 301.75 2.59661 315.065 5.07322C347.86 11.1733 379.224 23.2195 412.327 27.9842C457.843 34.5357 504.315 30.6245 547.787 16.6931C554.68 14.484 563.95 9.78697 571.504 9.78697C586.357 9.78697 601.78 13.5228 616.543 14.9392C626.575 15.9016 635.441 16.3829 645.163 13.843C651.307 12.238 657.46 9.34584 663.863 8.80037C673.182 8.00655 682.637 11.5707 691.457 13.843C703.115 16.8464 715.015 19.4685 727.146 19.7626C743.076 20.1486 757.777 16.0887 772.87 11.7602C776.787 10.6366 780.423 9.34848 784.5 9.34848"
            stroke="#AFBFCA"
            stroke-width="3"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="mission__line mobile">
        <svg width="357" height="32" viewBox="0 0 357 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2 23.6493C29.1675 12.2813 56.7969 11.7749 87.6745 14.0539C101.478 15.0727 114.223 21.3034 127.738 23.6493C146.69 26.9389 167.207 26.1638 186.293 24.9882C214.369 23.2587 240.927 18.2355 267.653 10.4835C276.126 8.02573 289.288 3.68073 298.224 2.67332C312.809 1.02926 326.605 2.60724 341 5.12796"
            stroke="#AFBFCA"
            stroke-width="3"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="mission__comment wow animate__fadeInUp" data-wow-delay="0.5s">
        <div class="mission__comment-head">
          <div class="mission__comment-avatar">
            <img src="./assets/images/mission-user-avatar.webp" alt="" />
          </div>
          <div class="mission__comment-info">
            <div class="mission__comment-name txt16">Имя Фамилия</div>
            <div class="mission__comment-post txt16">Директор</div>
          </div>
        </div>
        <div class="mission__comment-text txt20">
          Я знаю, насколько терапия может быть полезной, а иногда даже спасительной, не только как специалист,
          но и как клиент. Я хочу, чтобы процесс выбора психолога стал удобным и эффективным, а клиенты
          чувствовали себя в безопасности.
        </div>
      </div>
    </div>
  </div>
</section>
