<div id="popup__success" aria-hidden="true" class="popup popup--success">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M28 4L4 28"
              stroke="#191817"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4 4L28 28"
              stroke="#191817"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <p class="popup__body-content-box-title tl2">Заявка отправлена</p>
          <p class="popup__body-content-box-desk txt20">
            Ваша заявка успешно отправлена! Наш специалист
            <br class="desktop" />
            свяжется с вами в ближайшее время.
          </p>
          <button data-close class="popup__btn button txt18 txt18_bold">вернуться на главную</button>
        </div>
      </div>
    </div>
  </div>
</div>

