<section class="programs">
  <div class="container">
    <div class="programs__inner">
      <div class="programs__photo-wrapper wow animate__fadeInUp" data-wow-delay="0.1s">
        <div class="programs__photo-content-box">
          <p class="programs__photo-title tl2  wow animate__fadeInUp" data-wow-delay="0.8s">Обучающие программы и курсы</p>
          <a href="#" class="programs__btn button-shadow button-shadow--green  wow animate__fadeIn" data-wow-delay="0.8s">
            <span class="button-shadow-text txt16 txt16_caps">смотреть все курсы</span>
            <span class="button-shadow-svg-box">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 1V6M6 6H11M6 6H1M6 6V11"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </a>
        </div>
        <div class="programs__photo-box">
          <img src="./assets/images/programs-photo.webp" alt="" class="wow animate__fadeInUp" data-wow-delay="0.8s"/>
        </div>
        <div class="programs__bg-box">
          <img src="./assets/images/main-banner-bg.svg" alt="" />
        </div>
      </div>
      <div class="programs__swiper-box wow animate__fadeInUp" data-wow-delay="0.8s">
        <div class="programs__swiper swiper">
          <div class="programs__swiper-wrapper swiper-wrapper">
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">
                  Привязанность как основа любых отношений. Теория и Практика
                </p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                    <div class="programs__slide-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">
                  Открытая дискуссия: «Грани 2020. Совместное осмысление уходящего года”
                </p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                    <div class="programs__slide-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">Как работает психотерапия?</p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                    <div class="programs__slide-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">Как справляться с тревогой и стрессом?</p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                    <div class="programs__slide-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">
                  Вебинар для подростков и их родителей: «Моё тело меняется. Как разобраться с непростыми
                  переживаниями и научиться принимать себя»
                </p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                    <div class="programs__slide-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">Чем различаются направления психотерапии?</p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                    <div class="programs__slide-svg-box">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6H11M6 6H1M6 6V11"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>

            <!-- <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">
                  Вебинар для подростков и их родителей: «Моё тело меняется. Как разобраться с непростыми
                  переживаниями и научиться принимать себя»
                </p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                       <div class="programs__slide-svg-box">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1V6M6 6H11M6 6H1M6 6V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div>
            <div class="programs__swiper-slide swiper-slide">
              <a href="#" class="programs__slide-inner">
                <p class="programs__slide-title tl4">Чем различаются направления психотерапии?</p>
                <div class="programs__slide-btn-box">
                  <p class="programs__slide-btn txt16 txt16_caps">подробнее</p>
                  <div class="programs__slide-svg-wrapper">
                       <div class="programs__slide-svg-box">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1V6M6 6H11M6 6H1M6 6V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="programs__slide-bg">
                  <img src="./assets/images/programs-slide-bg.svg" alt="" />
                </div>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
