<section class="psychologist-banner">
  <div class="psychologist-banner__container container">
    <div class="psychologist-banner__left">
      <div class="psychologist-banner__title tl1">Семейный психолог</div>
      <div class="psychologist-banner__text txt20">
        Анонимный прием семейным психологом - качественное лечение в Москве
      </div>
      <div class="psychologist-banner__buttons">
        <button class="button-shadow button-shadow--green">
          <span class="button-shadow-text txt16 txt16_caps">Подобрать психолога</span>
          <span class="button-shadow-svg-box">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6 1V6M6 6H11M6 6H1M6 6V11"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </span>
        </button>
        <button class="button-border">
          <span class="button-shadow-text txt16 txt16_caps">получить консультацию</span>
        </button>
      </div>
      <div class="psychologist-banner__mark desktop">
        <div class="psychologist-banner__mark-head">
          <div class="psychologist-banner__mark-star">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.57341 1.89058C9.02244 0.508612 10.9776 0.50861 11.4266 1.89058L12.5819 5.4463C12.7827 6.06434 13.3587 6.48278 14.0085 6.48278H17.7472C19.2003 6.48278 19.8045 8.3422 18.6289 9.1963L15.6042 11.3939C15.0785 11.7758 14.8585 12.4529 15.0593 13.0709L16.2146 16.6266C16.6637 18.0086 15.0819 19.1578 13.9064 18.3037L10.8817 16.1061C10.3559 15.7242 9.64405 15.7242 9.11832 16.1061L6.09364 18.3037C4.91807 19.1578 3.33635 18.0086 3.78538 16.6266L4.9407 13.0709C5.14151 12.4529 4.92153 11.7758 4.3958 11.3939L1.37111 9.19631C0.195544 8.3422 0.799706 6.48278 2.25279 6.48278H5.9915C6.64134 6.48278 7.21728 6.06434 7.41809 5.4463L8.57341 1.89058Z"
                fill="#F2DF35"
              />
            </svg>
          </div>
          <div class="psychologist-banner__mark-title tl4">Статья проверена экспертом</div>
        </div>
        <div class="psychologist-banner__mark-body">
          <div class="psychologist-banner__mark-avatr">
            <img src="./assets/images/psychologist-banner-mark-img.webp" alt="" />
          </div>
          <div class="psychologist-banner__mark-descr">
            <div class="psychologist-banner__mark-name txt16 txt16_bold">Ященко Екатерина Александровна</div>
            <div class="psychologist-banner__mark-post txt16">Врач-психиатр</div>
          </div>
        </div>
      </div>
    </div>
    <div class="psychologist-banner__right">
      <img src="./assets/images/psychologist-banner-img.webp" alt="" />
    </div>
  </div>
  <div class="psychologist-banner__mark mobile">
    <div class="psychologist-banner__mark-head">
      <div class="psychologist-banner__mark-star">
        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.57341 1.89058C9.02244 0.508612 10.9776 0.50861 11.4266 1.89058L12.5819 5.4463C12.7827 6.06434 13.3587 6.48278 14.0085 6.48278H17.7472C19.2003 6.48278 19.8045 8.3422 18.6289 9.1963L15.6042 11.3939C15.0785 11.7758 14.8585 12.4529 15.0593 13.0709L16.2146 16.6266C16.6637 18.0086 15.0819 19.1578 13.9064 18.3037L10.8817 16.1061C10.3559 15.7242 9.64405 15.7242 9.11832 16.1061L6.09364 18.3037C4.91807 19.1578 3.33635 18.0086 3.78538 16.6266L4.9407 13.0709C5.14151 12.4529 4.92153 11.7758 4.3958 11.3939L1.37111 9.19631C0.195544 8.3422 0.799706 6.48278 2.25279 6.48278H5.9915C6.64134 6.48278 7.21728 6.06434 7.41809 5.4463L8.57341 1.89058Z"
            fill="#F2DF35"
          />
        </svg>
      </div>
      <div class="psychologist-banner__mark-title tl4">Статья проверена экспертом</div>
    </div>
    <div class="psychologist-banner__mark-body">
      <div class="psychologist-banner__mark-avatr">
        <img src="./assets/images/psychologist-banner-mark-img.webp" alt="" />
      </div>
      <div class="psychologist-banner__mark-descr">
        <div class="psychologist-banner__mark-name txt16 txt16_bold">Ященко Екатерина Александровна</div>
        <div class="psychologist-banner__mark-post txt16">Врач-психиатр</div>
      </div>
    </div>
  </div>
</section>
