<section class="questions">
  <div class="questions__container container">
    <div class="questions__left">
      <div class="questions__title tl1">Ответы на вопросы</div>
      <div class="questions__text txt20">Собрали здесь самые часто задаваемые вопросы и ответы на них.</div>
    </div>
    <div class="questions__right accordion">
      <div class="questions__item accordion__item">
        <div class="questions__item-head accordion__item-head">
          <div class="questions__item-title accordion__item-title tl3">Кто такой психолог?</div>
          <div class="questions__item-switch accordion__item-switch"></div>
        </div>
        <div class="accordion__item-body--wrapper">
          <div class="questions__item-body accordion__item-body txt20">
            <p>
              В широком смысле психолог — это профессионал, который помогает людям справиться со своими
              мыслями, чувствами и поведением. В психотерапии можно улучшить качество своей жизни: наладить
              отношения с людьми, найти источник проблем и тревоги, изучить самого себя.
            </p>
            <p>
              На Ясно работают психотерапевты, но для удобства мы используем слова «психолог»
              и «психотерапевт» как синонимы.
            </p>
          </div>
        </div>
      </div>
      <div class="questions__item accordion__item">
        <div class="questions__item-head accordion__item-head">
          <div class="questions__item-title accordion__item-title tl3">Что делает психолог?</div>
          <div class="questions__item-switch accordion__item-switch"></div>
        </div>
        <div class="accordion__item-body--wrapper">
          <div class="questions__item-body accordion__item-body txt20">
            <p>
              В широком смысле психолог — это профессионал, который помогает людям справиться со своими
              мыслями, чувствами и поведением. В психотерапии можно улучшить качество своей жизни: наладить
              отношения с людьми, найти источник проблем и тревоги, изучить самого себя.
            </p>
            <p>
              На Ясно работают психотерапевты, но для удобства мы используем слова «психолог»
              и «психотерапевт» как синонимы.
            </p>
          </div>
        </div>
      </div>
      <div class="questions__item accordion__item">
        <div class="questions__item-head accordion__item-head">
          <div class="questions__item-title accordion__item-title tl3">
            Как понять, что вам нужен психолог?
          </div>
          <div class="questions__item-switch accordion__item-switch"></div>
        </div>
        <div class="accordion__item-body--wrapper">
          <div class="questions__item-body accordion__item-body txt20">
            <p>
              В широком смысле психолог — это профессионал, который помогает людям справиться со своими
              мыслями, чувствами и поведением. В психотерапии можно улучшить качество своей жизни: наладить
              отношения с людьми, найти источник проблем и тревоги, изучить самого себя.
            </p>
            <p>
              На Ясно работают психотерапевты, но для удобства мы используем слова «психолог»
              и «психотерапевт» как синонимы.
            </p>
          </div>
        </div>
      </div>
      <div class="questions__item accordion__item">
        <div class="questions__item-head accordion__item-head">
          <div class="questions__item-title accordion__item-title tl3">
            Как выбрать психолога, который подойдёт?
          </div>
          <div class="questions__item-switch accordion__item-switch"></div>
        </div>
        <div class="accordion__item-body--wrapper">
          <div class="questions__item-body accordion__item-body txt20">
            <p>
              В широком смысле психолог — это профессионал, который помогает людям справиться со своими
              мыслями, чувствами и поведением. В психотерапии можно улучшить качество своей жизни: наладить
              отношения с людьми, найти источник проблем и тревоги, изучить самого себя.
            </p>
            <p>
              На Ясно работают психотерапевты, но для удобства мы используем слова «психолог»
              и «психотерапевт» как синонимы.
            </p>
          </div>
        </div>
      </div>
      <div class="questions__item accordion__item">
        <div class="questions__item-head accordion__item-head">
          <div class="questions__item-title accordion__item-title tl3">
            Можно ли оплатить консультацию картой иностранного банка?
          </div>
          <div class="questions__item-switch accordion__item-switch"></div>
        </div>
        <div class="accordion__item-body--wrapper">
          <div class="questions__item-body accordion__item-body txt20">
            <p>
              В широком смысле психолог — это профессионал, который помогает людям справиться со своими
              мыслями, чувствами и поведением. В психотерапии можно улучшить качество своей жизни: наладить
              отношения с людьми, найти источник проблем и тревоги, изучить самого себя.
            </p>
            <p>
              На Ясно работают психотерапевты, но для удобства мы используем слова «психолог»
              и «психотерапевт» как синонимы.
            </p>
          </div>
        </div>
      </div>
      <div class="questions__item accordion__item">
        <div class="questions__item-head accordion__item-head">
          <div class="questions__item-title accordion__item-title tl3">
            Можно ли оплатить консультацию картой иностранного банка?
          </div>
          <div class="questions__item-switch accordion__item-switch"></div>
        </div>
        <div class="accordion__item-body--wrapper">
          <div class="questions__item-body accordion__item-body txt20">
            <p>
              В широком смысле психолог — это профессионал, который помогает людям справиться со своими
              мыслями, чувствами и поведением. В психотерапии можно улучшить качество своей жизни: наладить
              отношения с людьми, найти источник проблем и тревоги, изучить самого себя.
            </p>
            <p>
              На Ясно работают психотерапевты, но для удобства мы используем слова «психолог»
              и «психотерапевт» как синонимы.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
