<section class="work-with wow animate__fadeIn" data-wow-delay="0.1s">
  <div class="work-with__container container">
    <div class="work-with__inner">
      <div class="work-with__content-box ">
        <div class="work-with__title-box">
          <p class="work-with__title tl1 wow animate__fadeInUp" data-wow-delay="0.6s">Работаем <br class="mobile"> с опытными специалистами</p>
          <div class="work-with__desc-box wow animate__fadeInUp" data-wow-delay="0.6s">
            <p class="work-with__desc txt20 ">
              Мы уже проверили их образование, опыт, часы супервизии и этичность. Вам осталось только выбрать
              понравившегося!
            </p>
            <a href="#" class="work-with__btn button-shadow button-shadow--green mobile">
              <span class="button-shadow-text txt16 txt16_caps">все специалисты</span>
              <span class="button-shadow-svg-box">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 1V6M6 6H11M6 6H1M6 6V11"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </a>
          </div>
        </div>
        <ul class="work-with__list">
          <li class="work-with__item wow animate__fadeInUp" data-wow-delay="0.6s">
            <div class="work-with__item-svg-box">
                <img src="./assets/images/icons/education.svg" alt="">
            </div>
            <div class="work-with__item-content-box">
              <p class="work-with__item-title tl4">Образование</p>
              <p class="work-with__item-desc txt20">
                Высшее психологическое или дополнительное психотерапевтическое образование
              </p>
            </div>
          </li>
          <li class="work-with__item wow animate__fadeInUp" data-wow-delay="0.6s">
            <div class="work-with__item-svg-box">
                <img src="./assets/images/icons/experience.svg" alt="">
            </div>
            <div class="work-with__item-content-box">
              <p class="work-with__item-title tl4">Опыт работы</p>
              <p class="work-with__item-desc txt20">
                Опыт консультирования составляет в среднем 5 лет со средней стоимостью одной сессии 1500
                рублей
              </p>
            </div>
          </li>
          <li class="work-with__item wow animate__fadeInUp" data-wow-delay="0.6s">
            <div class="work-with__item-svg-box">
                <img src="./assets/images/icons/ethics.svg" alt="">
            </div>
            <div class="work-with__item-content-box">
              <p class="work-with__item-title tl4">Этические качества</p>
              <p class="work-with__item-desc txt20">
                Каждый специалист решает тест на этику и проходит собеседование
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="work-with__photo-box">
        <a href="#" class="work-with__btn button-shadow button-shadow--green desktop wow animate__fadeIn" data-wow-delay="0.6s">
          <span class="button-shadow-text txt16 txt16_caps">все специалисты</span>
          <span class="button-shadow-svg-box">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6 1V6M6 6H11M6 6H1M6 6V11"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <div class="work-with__photo-list-box">
          <div class="work-with__photo-bg">
            <img class=" wow animate__fadeInUp" data-wow-delay="0.3s" src="./assets/images/work-with-bg.svg" alt="">
          </div>
          <div class="work-with__photo-img-box">
            <img class=" wow animate__fadeInUp" data-wow-delay="0.5s" src="./assets/images/main-banner-photo.webp" alt="">
          </div>
          <ul class="work-with__photo-list">
            <li class="work-with__photo-item tl4 wow animate__fadeIn" data-wow-delay="0.6s">Опыт работы 5 лет</li>
            <li class="work-with__photo-item tl4 wow animate__fadeIn" data-wow-delay="0.6s">Регулярно проходит супервизию</li>
            <li class="work-with__photo-item tl4 wow animate__fadeIn" data-wow-delay="0.6s">Высшее психологическое образование</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
